<button class="large-button" (click)="getRandomMovie()">Get a Random movie</button>
<div class="movie-details-container">
    <div class="movie-details" *ngIf="movie">
        <h2>{{ movie.title }}</h2>
        <img class="movie-poster" [src]="getImageUrl(movie.poster_path)" alt="{{ movie.title }} Poster">
        <div class="movie-details-content">
            <p><strong>Overview:</strong> {{ movie.overview }}</p>
            <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
            <p><strong>Rating:</strong> {{ movie.vote_average }}/10</p>
            <p><strong>Genres:</strong> {{ getGenres(movie.genres) }}</p>
            <p><strong>Homepage:</strong> <a [href]="movie.homepage" target="_blank">{{ movie.homepage }}</a></p>
        </div>
    </div>
</div>