/* Navbar Styles */
.navbar {
  background-color: var(--dark-color);
  color: var(--secondary-color);
  padding: 10px 0;
}

.bg-dark {
  color: var(--secondary-color) !important;
  background-color: var(--black-color) !important;
}
.navbar-brand {
  // font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-toggler-icon {
  background-color: var(--black-color); /* Hamburger menu color */
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s; /* Smooth color transition */
}

.nav-link:hover {
  color: var(--accent-color); /* Hover color */
  text-decoration: none;
}

/* Highlight active link */
.nav-item.active {
  color: var(--secondary-color);
  background-color: var(--primary-color); /* Active link background color */
  border-radius: 4px;
}

.acc {
  font-size: 14px;
  padding-right: 20px;
}

.acc img {
  width: 50px; /* Adjust the width as needed */
  margin-left: 10px; /* Adjust the spacing between text and logo */
}
.check {
  width: 50px; /* Adjust the width as needed */
  margin-left: 10px; /* Adjust the spacing between text and logo */
}
/* Mobile menu styles (adjust breakpoint as needed) */
@media (max-width: 768px) {
  .navbar-toggler {
    color: var(--secondary-color); /* Hamburger menu color */
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  // .acc {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   font-size: 14px;
  //   color: #777; /* Text color */
  //   /* Add a border-top for better separation */
  //   border-top: 1px solid #444;
  //   padding-top: 10px; /* Add some top padding for spacing */
  // }

  // .acc img {
  //   width: 50px; /* Adjust the width as needed */
  //   margin-left: 10px; /* Adjust the spacing between text and logo */
  // }
}
