<nav class="navbar navbar-expand-lg">
    <div class="container navbar-container">
      <!-- Logo Section -->
      <div class="navbar-brand-container">
        <a class="navbar-brand" [routerLink]="['/home']">
          <img class="logo" src="../../assets/logo.png" alt="MOVIE PICKER">
          <span class="brand-text">MOVIE PICKER</span>
        </a>
      </div>
  
      <!-- Mobile Menu Toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fas fa-bars"></i>
        </span>
      </button>
  
      <!-- Nav Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/home']" (click)="closeNavbar()">
              <i class="fas fa-home nav-icon"></i>Home
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/category/Movies/Action/1']" (click)="closeNavbar()">
              <i class="fas fa-film nav-icon"></i>Movies
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/category/TV/Animation/1']" (click)="closeNavbar()">
              <i class="fas fa-tv nav-icon"></i>TV Shows
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/search']" (click)="closeNavbar()">
              <i class="fas fa-search nav-icon"></i>Search
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/random']" (click)="closeNavbar()">
              <i class="fas fa-random nav-icon"></i>Random
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/contact']" (click)="closeNavbar()">
              <i class="fas fa-envelope nav-icon"></i>Contact
            </a>
          </li>
        </ul>
      </div>
  
      <!-- TMDB Attribution -->
      <div class="tmdb-attribution d-none d-lg-flex">
        <span>Powered by</span>
        <img src="../../assets/tmdb logo.svg" alt="TMDB">
      </div>
    </div>
  </nav>