/* Styles for the dark-themed category picker container */
.category-picker {
  background-color: var(--dark-color); /* Dark background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px var(--accent-color);
  text-align: center;
  margin: 10px;
}

/* Title style for dark theme */
.dark-text {
  font-size: 1.5rem;
  color: var(--accent-color); /* Updated title color for dark theme */
  margin-bottom: 10px;
}

/* Styles for the dark-themed category list */
.category-list {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping into new rows */
  justify-content: center; /* Center items horizontally */
}

/* Styles for the dark-themed category rows */
.category-row {
  display: flex; /* Display buttons in a row */
  margin: 5px; /* Adjust spacing between rows */
}

/* Button styles for dark theme */
.category-picker button {
  background-color: var(--black-color); /* Dark button background color */
  color: var(--secondary-color); /* Button text color for dark theme */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
}

.category-picker button:hover {
  color: var(--dark-color);
  background-color: var(
    --accent-color
  ); /* Button background color on hover for dark theme */
}

/* Active tab style for dark theme */
.category-picker button.active {
  background-color: var(
    --primary-color
  ); /* Active tab background color for dark theme */
}

/* Custom Pagination Styles */

/* Change the background color of the pagination */
.pagination {
  background-color: var(--dark-color);
  color: var(--primary-color);
}

::ng-deep --bs-pagination-disabled-color {
  color: var(--primary-color);
}

/* Change the color of the pagination links */
.pagination a {
  color: var(--primary-color);
}

/* Change the color of the active page link */
.pagination .active a {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.box div {
  width: 100px;
  height: 100px;
}

.lab-mov {
  padding: 15px;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh; // 100% of the viewport height
  // width: 100%; // 100% of the viewport width
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  transition: 0.4s;
  border-radius: 34px; // Rounded edges for the slider
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--black-color);
  transition: 0.4s;
  border-radius: 50%; // Rounded edges for the knob
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}
