<!-- mature-toggle.component.html -->
<div class="mature-toggle-container">
  <div class="toggle-header">
    <h3>Mature Content</h3>
    <div class="toggle-switch-container">
      <label class="toggle-switch">
        <input
          type="checkbox"
          [checked]="includeAdult"
          (change)="toggleAdultContent($event)"
        />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <p class="toggle-description">
    {{ includeAdult ? 'Mature content is enabled. Adult-themed movies will be shown in your search results.' :
                     'Mature content is disabled. Adult-themed movies are filtered from your search results.' }}
  </p>
</div>