/* You can add global styles to this file, and also import other style files */

/* Global styles for the entire app */
:root {
  // Root Color Variables
  --primary-color: #682f76;
  --secondary-color: #f6f6f4;
  --accent-color: #b0e66b;
  --warning-color: #e20f0f;
  --dark-color: #07295f;
  --black-color: #110e1b;
  --movie-card-color: #1c1c1c;
}

.dark-theme {
  // Root Color Variables
  --primary-color: #caffbf;
  --secondary-color: #000;
  --accent-color: #ee6055;
  --warning-color: #e20f0f;
  --dark-color: #fffffc;
  --black-color: #ffc6ff;
  --movie-card-color: #ffef9f;
}

body {
  background-color: var(--dark-color); /* Dark background color */
  color: var(--secondary-color); /* Default text color for the entire app */
}

.img-style {
  height: 80vh;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  background-color: var(--dark-color); /* Track color */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--accent-color); /* Thumb color */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: var(--dark-color); /* Track color */
}

/* Style the scrollbar for mobile devices */
@media screen and (max-width: 768px) {
  /* Style the scrollbar */
  ::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }

  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: var(--accent-color); /* Thumb color */
    border-radius: 5px; /* Rounded corners for the thumb */
  }

  /* Style the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: var(--dark-color); /* Track color */
  }
}
