@import "./variables.scss";
/* You can add global styles to this file, and also import other style files */

/* Global styles for the entire app */
body {
  background-color: $dark-color; /* Dark background color */
  color: $secondary-color; /* Default text color for the entire app */
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  background-color: $dark-color; /* Track color */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: $accent-color; /* Thumb color */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: $dark-color; /* Track color */
}

/* Style the scrollbar for mobile devices */
@media screen and (max-width: 768px) {
  /* Style the scrollbar */
  ::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }

  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: $accent-color; /* Thumb color */
    border-radius: 5px; /* Rounded corners for the thumb */
  }

  /* Style the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: $dark-color; /* Track color */
  }
}
