<header class="image-banner">
    <div class="text-container">
        <h1>Welcome to Movie Picker</h1>
        <p>Discover a world of movies right at your fingertips. Movie Picker is your ultimate movie
            companion, whether you're in the mood for a specific genre or just looking for a random movie adventure.</p>
    </div>
</header>

<section class="row features" [routerLink]="['/category']">
    <div class="col-12 col-md-4 feature">
        <h2>Browse by Category</h2>
        <p>Explore movies by genre, actor, or director. Whether you're into action, romance, or comedy, we've got
            you covered.</p>
    </div>
    <div class="col-12 col-md-4 feature" [routerLink]="['/random']">
        <h2>Random Movie Picker</h2>
        <p>Feeling adventurous? Let our random movie picker surprise you with a movie you might never have thought
            to watch.</p>
    </div>

</section>

<footer>
    <!-- <p>Ready to embark on your cinematic journey? Join Movie Finder today and start exploring the world of movies
        like never before.</p>
    <button>Sign Up Now</button> -->
</footer>